@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --primary-color: #ff4d6d;
    --secondary-color: #ff8fa3;
    --bg-color: #fff0f3;
    --text-color: #590d22;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--primary-color);
}

button {
    font-family: inherit;
}